*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(10,23,55,0.5);
    color: white;
}
h1{
    color: white;
    font-size: 60px;
}
section{
    color: white;
    font-size: 30px;
}
.butao{
    border-radius: 500px;
    transition: background 0.4s,color 0.4s;
    padding: 10px 20px;
    font-size: 15px;
    background-color: black;
}
.botao:hover{
    background-color: yellowgreen;
}