{% extends "layout.html" %}

{% set bodyId = "page-create-point"%}

{% block title %}
  <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="styles/create-point.css">
    <link rel="stylesheet" href="styles/modal.css">

{% endblock styles %}

{% block content %}
  <div id="page-home">
    {% include "partials/page-header.html" %}

    <div class="container section1 mt-5 bg-white rounded mb-5">
      <div class="row">
        <div class="col-md-12">
          <form action="savepoint" class="mt-5" method="POST">
            <h1>Cadastro do ponto de coleta</h1>
            <fieldset class="mt-2">
              <h2>Dados da entidade</h2>

              <div class="form-row mt-3">
                <div class="col-md-6 mb-3">
                  <label for="name">Nome da entidade</label>
                  <input type="text" class="form-control" name="nome" required="required">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="name">Imagem da entidade</label>
                  <input type="url" class="form-control" name="imagem" placeholder="https://" required="required">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="address">Endereço</label>
                  <input type="text" class="form-control" name="endereco" required="required">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="number">Número/Complemento</label>
                  <input type="text" class="form-control" name="complemento" required="required">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="my-1 mr-2" for="state">Estado</label>
                  <select class="custom-select my-1 mr-sm-2" name="uf">
                    <option value="">Selecione o estado</option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="my-1 mr-2" for="city">Cidade</label>
                  <select class="custom-select my-1 mr-sm-2" name="city" disabled="disabled">
                    <option value="">Selecione a cidade</option>
                  </select>
                  <input name="state" type="hidden">
                </div>
              </div>
            </fieldset>

            <fieldset class="mt-3">
              <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens</span>
              </legend>
              <div class="items-grid">
                <li data-id="Lâmpadas">
                  <img src="./assets/lampadas.svg" alt="Lâmpadas">
                  <span>Lâmpadas</span>
                </li>
                <li data-id="Pílhas e Baterias">
                  <img src="./assets/baterias.svg" alt="Pílhas e Baterias">
                  <span>Pilhas e Baterias</span>
                </li>
                <li data-id="Papéis e Papelão">
                  <img src="./assets/papeis-papelao.svg" alt="Papéis e Papelão">
                  <span>Papéis e Papelão</span>
                </li>
                <li data-id="Resíduos Eletrônicos">
                  <img src="./assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                  <span>Resíduos Eletrônicos</span>
                </li>
                <li data-id="Resíduos Orgânicos">
                  <img src="./assets/organicos.svg" alt="Resíduos Orgânicos">
                  <span>Resíduos Orgaânicos</span>
                </li>
                <li data-id="Óleo de Cozinha">
                  <img src="./assets/oleo.svg" alt="Óleo de Cozinha">
                  <span>Óleo de Cozinha</span>
                </li>
              </div>
              <input type="hidden" name="items">
            </fieldset>
            <button class="btn mt-4">Cadastrar ponto de coleta</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if saved %}
    {%include "partials/point-created.html"%}}

  {% endif %}
{% endblock content %}

{% block scripts %}
  <script src="./scripts/create-point.js"></script>
{% endblock scripts %}