{% extends "layout.html" %}

{% set bodyId = "page-home" %}

{% block styles %}
  <link rel="stylesheet" href="styles/home.css">
  <link rel="stylesheet" href="styles/modal.css">
{% endblock styles %}

{% block content %}
  <header>
    <nav class="navbar navbar-expand-sm mt-2">
      <div class="container">
        <a href="/" class="logo-img">
          <img src="assets/logo.svg" width="150">
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item text-center">
              <a href="create-point" class="action-header"><img src="./assets/log-in.svg" alt="Icone Cadastro" width="30">
                Cadastre um ponto de coleta</a>
            </li>
            <hr class="barra">
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container section1">
    <div class="row">
      <div class="col-md-5">
        <h1>{{title}}</h1>
        <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
        <button type="button" class="btn"><img src="./assets/search.svg" alt="Pesquisar" class="searchIcon">
          Pesquisar pontos de coleta</button>
      </div>
      <div class="col-md-7">
        <img src="./assets/home-background.svg" class="img-fluid" alt="Reciclagem">
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include "partials/modal.html" %}
{% endblock modal %}

{% block scripts %}
  <script src="./scripts/index.js"></script>
{% endblock scripts %}