.arrow-left-home{
    color:var(--title-color) !important;
    font-size: 18px;
}
.section1{
    padding: 0 70px 50px 70px;
}
.button{
    background-color: #59ff80;
    padding: 14px 14px;
    border-radius: 10px;
    color:white;
    font-size: 22px;
    font-weight: 500;
    transition: 1.5s;
}
.button:hover{
    background-color:var(--p-color);
}
.items-grid{
    /* criando as colunas */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.items-grid li{
    /* alinhando icone e texto */
    background-color: #f5f5f5;
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.items-grid li span{
    /* alinhando o texto da imagem */
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    color:var(--title-color);
}
.items-grid li.selected{
    background:#e1faec;
    border: 2px solid #34cb79;

}
/* pegar a tag li ao inves da imagem e do span */
.items-grid li img,.items-grid li span{
    pointer-events: none;
}