{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="card mt-5 bg-white " style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">   {{postagem.titulo}} </h5>
              <p class="card-text"> {{postagem.texto}}  </p>
              <p>Autor: {{postagem.Autor.username}} </p>

                {% if postagem.data_publicacao %}
                 <p>Data de publicação: {{postagem.data_publicacao}} </p>
                {% endif %}

              <div class="teste">
                <p> Data de criacao</p>
                <p> {{postagem.data_criacao}} </p>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}