{% extends 'base.html' %}

{% block title%} Blog made in Django {% endblock%}

{% block content%}
    <h1>Posts</h1>
    <ul> 
        {% for post in object_list %}
            <li><a href="{% url 'article' post.pk %}">{{ post.title }} {{ post.created_at }}</a> {{ post.author.first_name }} - {{ post.author.last_name }}
            <a href="{% url 'edit_post' post.pk %}" class="btn btn-success">Editar</a> 
            <a href="{% url 'delete_post' post.pk %}" class="btn btn-warning">Deletar</a>   
            <br> {{ post.author.email}} <br>
            {{ post.body }} </li>

        {% endfor %}
    </ul>
{% endblock %}